### Ansible ###
*.retry

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
*.logs

### Vagrant Patch ###
*.box

### others ###
*.tmp
*.dpkg-dist
*.log
.sync-*

ssh/
root_ssh/
jenkins_ssh/

docker-compose_imed.yml
docker-compose_extdev_imed.yml